<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/pagePieces :: head"></head>
<style th:replace="partials/pagePieces :: style"></style>
<body>
<nav th:replace="partials/pagePieces :: navbar"></nav>

<div class="container">
    <div class="row">
        <div class="col">
            <div sec:authorize="isAuthenticated()">
                This content is only shown to authenticated users.

                User ID: <span th:text="${#authentication.principal.id}"/>
                Username: <span th:text="${#authentication.principal.username}"/>
                Email: <span th:text="${#authentication.principal.email}"/>
            </div>
            <h2>Edit your post here</h2>
            <form th:action="@{/posts/{id}/edit(id=${post.ID})}" method="post">
                Post Title:
                <input name="title" th:value="${post.title}"/>
                <br>
                Your post:
                <input type="text" name="body" th:value="${post.body}"/>
                <br>
                <button th:type="submit" class="btn">Submit</button>
            </form>
            <form th:action="@{/posts/{id}/delete(id=${post.ID})}" th:method="delete">
                <button th:type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
</div>


<div th:replace="partials/pagePieces :: footer"></div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>