<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/pagePieces :: head"></head>
<style th:replace="partials/pagePieces :: style"></style>
<link rel="stylesheet" th:href="@{/img/css/home.css}">
<body>
<nav th:replace="partials/pagePieces :: navbar"></nav>

<div class="container">
    <div clas="row">
        <div class="col-8">
            <h3 th:text="${post.title}"></h3>
            <br>
            <p th:text="${post.body}"></p>
            <br>
            <hr>
            Created By: <p th:text="${user.username}">
        </div>
        <div>
            <form th:action="@{/posts/{id}/edit(id=${post.ID})}" th:value="${post.ID}" method="post">
                <button type="button" class="btn btn-success"><a th:href="@{/posts/{id}/edit(id=${post.ID})}">Edit</a></button>
            </form>
        </div>
    </div>
</div>


<div th:replace="partials/pagePieces :: footer"></div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>