<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="https://kit.fontawesome.com/a08077b390.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<style th:fragment="style">
    @import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;500&family=Work+Sans:wght@100;300&display=swap');

    body {
        margin-top: 6rem;
    }
    .footer {
        bottom: 0;
        width: 100%;
        background-color: rgba(54, 105, 195, 0.7);
        margin-top: 1em;
    }
    .navbar{
        position: fixed;
        background-color: rgba(54, 105, 195, 0.7);
        z-index: 1030;
        top:0;
        left:0;
        right:0;
    }
    .logo{
        border-radius: 3px;
    }
</style>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/"><img alt="logo" th:src="@{/img/biancar.png}" class="img-fluid logo" width="150"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/blog">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/posts">Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/posts/create">Create a new Post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Profile</a>
            </li>
            <div th:if="${param.logout}">
                <li class="nav-item">
                    <form th:action="@{/logout}" th:method="post">
                        <button class="btn-link btn">Logout</button>
                    </form>
                </li>
            </div>
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="/roll-dice">Roll dice Guess</a>-->
<!--            </li>-->

<!--            <li class="nav-item dropdown">-->
<!--                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"-->
<!--                   aria-haspopup="true" aria-expanded="false">-->
<!--                    Math-->
<!--                </a>-->
<!--                <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--                    <a class="dropdown-item" href="/add/1/and/2">Adding</a>-->
<!--                    <a class="dropdown-item" href="/subtract/5/from/10">Subtracting</a>-->
<!--                    &lt;!&ndash;                    <div class="dropdown-divider"></div>&ndash;&gt;-->
<!--                    <a class="dropdown-item" href="/divide/10/by/2">Dividing</a>-->
<!--                    <a class="dropdown-item" href="/multiply/5/and/5">Multiplying</a>-->
<!--                </div>-->
<!--            </li>-->
            <!--            <li class="nav-item">-->
            <!--                <a class="nav-link disabled" href="#">Disabled</a>-->
            <!--
                      </li>-->

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>





<div th:fragment="footer" class="footer">
    <footer class="page-footer font-small pt-4">
        <div class="container">
            <div class="row">
<!--                <div class="col-md-6 mb-4">-->
<!--                    <form class="form-inline">-->
<!--                        <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"-->
<!--                               aria-label="Search">-->
<!--                        <i class="fas fa-search" aria-hidden="true"></i>-->
<!--                    </form>-->
<!--                </div>-->
<!--                sign up for newsletter-->
<!--                <div class="col-md-6 mb-4">-->
<!--                    <form class="input-group">-->
<!--                        <input type="text" class="form-control form-control-sm" placeholder="Your email"-->
<!--                               aria-label="Your email" aria-describedby="basic-addon2">-->
<!--                        <div class="input-group-append">-->
<!--                            <button class="btn btn-sm btn-outline-white my-0" type="button">Sign up</button>-->
<!--                        </div>-->
<!--                    </form>-->
<!--                </div>-->
            </div>
        </div>
        <div class="footer-copyright text-center py-3">© 2020 Coded with love, joy, frustration and lots of coffee by <a href="https://www.linkedin.com/in/biancareusch/">biancar.</a>
        </div>
    </footer>
</div>

</body>
</html>