<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/partials/partials :: head"></head>
<style th:replace="/partials/partials :: style"></style>
<body>
<nav th:replace="/partials/partials :: navbar"></nav>
<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
        <h1 class="display-4">Welcome to biancar's Projects</h1>
        <!--            <p class="lead">Designed from the front to the backend by biancar.</p> save for about me-->
        <p class="lead">Sign up and start documenting your journey to learn something new!</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-auto">
            <a href="/sign-up"><img alt="signup button" th:src="@{/img/signup.png}" class="img-fluid" width="350"></a>
            or
            <a href="/login"><img alt="login button" th:src="@{/img/login.png}" class="img-fluid" width="350"></a>
        </div>
    </div>
    <div clas="row">
        <div th:each="post : ${allPosts}">
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top img-fluid" src="https://picsum.photos/300/200"
                         alt="randomized picture">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${post.title}"></h5>
                        <!--                        <h6 class="card-subtitle mb-2 text-muted" th:text="${user.username}"></h6>-->
                        <p class="card-text" th:text="${post.body}"></p>
                        <form th:action="@{/posts/{id}(id=${post.ID})}" th:value="${post.ID}" method="post">
                            <button class="btn btn-secondary" type="submit">see post</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--<div th:replace="partials/partials :: footer"></div>-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>