<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Roll Dice</title>
</head>
<body>
<h1>Guess the dice roll</h1>
<div th:each="side : ${possibleResults}">
    <form th:action="@{/roll-dice/{side}(side=${side})}" method="post">
        <button type="submit" th:text="${side}"></button>
    </form>
</div>


<div th:if="${guess} != null">
    Your num is <span th:text="${guess}"></span> , my num is <span th:text="${roll}"></span>.
    <div th:if="${roll == guess}">
        <span> You got it right</span>
    </div>
    <div th:if="${roll != guess}">
        <span> You got it wrong!</span>
    </div>
    <form th:action="@{/roll-dice}" method="get">
        <button type="submit">Go again.</button>
    </form>
</div>
</body>
</html>